Repository Vindyani1999/AI-Assistance-FOE, pull requests merged in 2025-08, with the labels that each got.

#28 Setup Authentication Backend
  authBackend/.gitignore
  authBackend/config/db.js
  authBackend/controllers/authController.js
  authBackend/example.env
  authBackend/middleware/adminMiddleware.js
  authBackend/middleware/authMiddleware.js
  authBackend/middleware/lecturerMiddleware.js
  authBackend/middleware/studentMiddleware.js
  authBackend/models/user.js
  authBackend/package-lock.json
  authBackend/package.json
  authBackend/routes/adminRoutes.js
  authBackend/routes/authRoutes.js
  authBackend/routes/homeRoutes.js
  authBackend/routes/lecturersRoutes.js
  authBackend/routes/studentRoutes.js
  authBackend/server.js
Labels: authentication

#29 set embedding free model and evaluate parameters
  backend/.gitignore
  backend/config/tools_config.yml
  backend/data/documents/exam_manual/Examinations-Manual.pdf
  backend/data/documents/student_handbook/Student_Handbook_2022-2023_24th_Batch.pdf
  backend/data/unstructured_docs/stories/plastic_pollution.pdf
  backend/data/unstructured_docs/swiss_airline_policy/Online_Learning.pdf
  backend/example.env
  backend/main.py
  backend/requirements.txt
  backend/scripts/prepare_vector_db.py
  backend/src/core/agent_graph/agent_backend.py
  backend/src/core/agent_graph/build_full_graph.py
  backend/src/core/agent_graph/load_tools_config.py
  backend/src/core/agent_graph/tool_by_law_rag.py
  backend/src/core/agent_graph/tool_chinook_sqlagent.py
  backend/src/core/agent_graph/tool_exam_manual_rag.py
  backend/src/core/agent_graph/tool_lookup_policy_rag.py
  backend/src/core/agent_graph/tool_stories_rag.py
  backend/src/core/agent_graph/tool_student_handbook_rag.py
  backend/src/core/agent_graph/tool_tavily_search.py
  backend/src/core/agent_graph/tool_travel_sqlagent.py
  backend/src/core/chatbot/chatbot_backend.py
  backend/src/core/chatbot/load_config.py
  backend/src/core/chatbot/memory.py
  backend/src/core/utils/app_utils.py
  backend/src/prepare_vector_db.py
Labels: enhancement, guidance agent

#37 New Chat, Chat history, Issue in Authentication
  backend-Authentication/src/controllers/authController.js
  backend/apps/fastapi_app.py
  backend/apps/mongo_models.py
  backend/memory/2025-08-15.csv
  backend/memory/2025-08-16.csv
  backend/src/core/agent_graph/load_tools_config.py
  backend/src/core/chatbot/load_config.py
  frontend/src/App.tsx
  frontend/src/components/GuidanceAgent/ChatInterface.tsx
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/NotificationPopup.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/routes/index.ts
  frontend/src/services/api.ts
Labels: guidance agent, implementation, authentication
